#spring:
#  application:
#    name: gateway-service
#  config:
#    import: optional:configserver:http://localhost:8888
#
#
#
#eureka:
#  instance:
#    prefer-ip-address: true
#    hostname: localhost
#  client:
#    serviceUrl:
#      defaultZone: http://localhost:8761/eureka/


spring:
  application:
    name: gateway-service
  cloud:
    config:
      overrideSystemProperties: true
  config:
    import: optional:configserver:http://localhost:8888

eureka:
  instance:
    prefer-ip-address: true
    instance-id: ${spring.application.name}:${server.port}
  client:
    serviceUrl:
      defaultZone: https://eureka-server-6mb3.onrender.com/eureka/